@font-face {
  font-family: "Besley";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Besley:ital@1&display=swap");
}
@font-face {
  font-family: "Allison";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
}
